In [3]:
a = lambda x: x**2
print(a(5))

25

In [4]:
print(a(25))

625

In [5]:
print((0))

0

In [6]:
import pandas as pd
import numpy as np

In [9]:
b = pd.DataFrame(np.arange(16).reshape((4,4)),
            index=  ['a','b','c','d'],
            columns = ['one','two','three','four']
)

In [10]:
b

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

In [13]:
b.iloc[2,3]

11

In [14]:
b.loc['c']

one       8
two       9
three    10
four     11
Name: c, dtype: int32

In [16]:
c = b.four.apply(lambda i:i*10 )

In [17]:
c

a     30
b     70
c    110
d    150
Name: four, dtype: int64

In [18]:
b

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

In [19]:
b.four

a     3
b     7
c    11
d    15
Name: four, dtype: int32

In [20]:
b.four = b.four.apply(lambda i:i*10 )

In [21]:
b

   one  two  three  four
a    0    1      2    30
b    4    5      6    70
c    8    9     10   110
d   12   13     14   150

## Today's Class (23/Sept/22)

# Summarizing and Computing Descriptive Statistics
- Descriptive Statistics
- Infrential Statistics

# Descriptive Statistics
- Measures of central Tendencies
    * Mean
    * Median
    * Mode
- Summarization
- PERCENTILE
- 5 NUMBER THEORY
- Histograms
- pdf (probability development function), cdf, probability
- Permutations
- Sd , var
- Distribution
    * Normal Distribution
    * Gausian Distribution
    * Binomial Distribution
    * Standard Normal Deviation
    * Transformation

# Inferentail Statistics
 - Z test
 - T test
 - ANOVA
 - CHI SQUARE
 - Hypothesis Testing
     - P value
     - confidence Interval CI
     - Confidence level
     - Z table
     - T table

### What is Statistics?
- Science of collecting, organizing and analysing data.

Descriptive Stat: Organise and Summarize data.
Inferential Stat: Techniques to make conclusions/insights from data

# What is Population data?  
All our data in our consideration.

### What is sample Data? 
A sample collected from poulation.

# Smapling Technique: 
        - Simple Random Sampling ( is a type of probability sampling in which the researcher randomly selects a subset
                of participants from a population.)
        
        - Stratified Sampling (researchers divide a population into homogeneous subpopulations called strata 
                               (the plural of stratum) based on specific characteristics)
        
        - Systematic Sampling (involving the selection of elements from an ordered sampling frame. The most common form 
                               of systematic sampling is an equiprobability method.)
        
        - Convience Sampling (a type of non-probability sampling that involves the sample being drawn from that part of the
                              population that is close to hand.)

# Despersion directly propotional to KHARAB!!

ztada despersion in data is KHARAB data

# Normalized Data
 - Sd = 1
 - mean = 0

Mod = most repeated values
median = middle value
odd median = n+1/2
even median = n/2 +1,n/2

Histogram - For contineous 
Bar plot- Discrete

# nSd = n(mean)* Sd
2Sd = 2*mean * Sd

# 68% data lies b/w 1 standard deviation

95% data lies b/w 2 Sd
99.7% data lies b/w 3 Sd

# Subtract Data from Mean devided by Sd = Normalized Data

# BOX Plot

 - percentile is related to everyone.

# Percentile  Formula = (Num of values below 'x' *100)/n
It is a measure used in statistics indicating the value below which a given percentage of observations in 
a group of observations fall.

# Five Number Summary
Min, first Quartile , median, Thrid Quartie, Max

x= [1,2,3,4,5,5,6,7,8]

lowerfence  = Q1-1.5*(IQR) ->Inter Quartile Range
upperfence = Q3+1.5*(IQR)

IQR = Q3-Q1

Q1 = 25%
Q2= 50%
Q3 = 75%
Q4 = 100%

Q1 = (total number *25)/100
Q1 = 20*25/100
    = 5th
    =3
Q3 = 20*75/100
    =15th
    =7
    
IQR = Q3-Q1
    =7-4
    =4
    
Lowerfence = Q1-1.5(IQR)
            = 3-1.5(4)
            = -3
        
Upperfence = Q3+1.5(IQR)
            = 7+1.5(4)
            = 13

Med = 6 (Most repeated value) ==6
Min ==1
Max==9